.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(/src/imagens/wall.png);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #000;
    color: #fff;
    border-bottom: 5px solid goldenrod;
}

.panel {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 1rem;
}

.square {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: #084041;
}

.enemy {
    background-image: url(/src/imagens/ralph.png);
    background-size: cover;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2){
    margin-top: 10px;
}